.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    margin: 5px;
    border: 3px solid black;
    gap: 10px;
}

.item img {
    width: 200px;
    height: 200px;
    margin: 10px 10px;
}

.item .itemInfo {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.itemTitle {
    text-align: center;
    text-wrap: wrap;
}

.qtyActions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}

.plusBtn, .minusBtn {
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    color: black;
}